apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-movies-deployment
  labels:
    app: flask-movies
    version: "1.0"
spec:
  replicas: 10
  selector:
    matchLabels:
      app: flask-movies
  template:
    metadata:
      labels:
        app: flask-movies
        version: "1.0"
    spec:
      containers:
      - name: flask-movies
        image: hobarlan/flask-movies:2
        ports:
          - name: http-server
            containerPort: 5000
        env:
          - name: DATABASE_URL
            value: postgresql://postgres:example@db/postgres